@import "./variables.scss";
@import "./mixin.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

main {
  width: 100vw;
  @include f-column;
  justify-content: center;
  align-items: center;
}

// !credit card section

.credit-card {
  background: url("../img/creditcard.png") no-repeat center;
  height: 200px;
  width: 370px;
  @include f-column;
  justify-content: space-between;
  article {
    margin: 1rem;
    @include f-row;
    align-items: center;
    justify-content: space-between;
    .chip {
      width: 35px;
      height: 35px;
    }
    .visa {
      width: 35px;
      height: 35px;
    }
  }
}
